# Recap

Write a program to add numbers from 1 to 100 and print the sum!

In [ ]:
# your code here

 ```python       
        i. ask the user to insert a number n,
        ii. write conditional statment that will
            a. prints "FizzBuzz" if it is multiple of both 3 and 5
            b. print out "Fizz" if the number is multiple of 3
            c. prints "Buzz" if it is multiple of 5
            d. prints the number itself if it's neither.
 ```

In [ ]:
#write your code here

What will be the outpuf of the following
```python
fruits = ['orange', 'banana', 'apple', 'pineapple']
y = 2
while y >= 0:
    print(fruits[y])
    y -= 1
```
check your guess in the cell below

In [ ]:
# check the code here

```python
numbers = [1, 5, 9, 120, 32, 81, 33, 109, 96, 82, 13]
```
given the above list of numbers, print all numbers until 81

In [ ]:
# write your code here

```python
numbers = [1, 5, 9, 120, 32, 81, 33, 109, 96, 82, 13]
```
given the above list of numbers, print all the numbers except multiples of 3

In [ ]:
#write your code here

#guided project

1. `Guess the number(advanced version)`

We have worked on guess the numbers game in the last lab exercise. In this lab we will make the game more interesting by giving the user more information when he guesses wrong.

For example:
```python
target = 34
guess = 12
#in this case, the user guessed less than the target so instead of just telling him to try again, we say "your guess is less than the value"

#let's say his second guess was
guess = 89
#now we tell him, "Your guess is higher than the value"


guess = 34
#and when the guess is correct just print "Congratulations you got it! the number is 34" use string formatting
```

The output should be something like this
```
Guess number between 1- 100: 89
Your guess is higher than the value: 37
Your guess is higher than the value: 11
Your guess is lower than the value: 33
Your guess is lower than the value: 4
Your guess is lower than the value: 34
Congratulations you got it! the number is 34
```

In [ ]:
target =34
#write your code here

#### ***`Let's learn how to print patterns like`***
```python
1
12
123
1234
12345
```

`As you might have guessed, we use nested loop for such patterns`

Any idea how to set things up?

let's break the problem down into two sections
1. We need five rows(top to bottom)
2. In each row, we need to print numbers depending on the row number

Meaning: first row has 1, second row has 12.... fifth row has 12345

let's address the first section(printing five rows with just 1)

```python
for i in range(1, 6): #remember range function this means start at 1 and stop at 5(6-1)
  print(i)
```

In [ ]:
for i in range(1, 6):
  print(i)

1
2
3
4
5

Great now we have five rows

What's missing?

we want for each row to print numbers from 1 to that row number!
* this means for 1st row we just want 1
* for second row we go from 1 - 2
* for third row we go from 1 - 3
* for fourth row we go from 1 - 4
* for the fifth row we go from 1- 5

Any idea on what's going on?

yes! we are looping again in every interation

**In each row we iterate from 1 to the row number before moving to the next row!**

For example:
if i is 2, it means we are in second row so we need to print 12, how do we do that?

we add loop going from 1 to 2 and print

```python
for i in range(1, 6):
  #add another loop to go from 1 to i
  for j in range(1, i): #what is wrong here? we miss i right?
    print(j)
```

`Let's try it out`

In [ ]:
for i in range(1, 6):
  #add another loop to go from 1 to i
  for j in range(1, i): #what is wrong here? we miss i right?
    print(j)

1
1
2
1
2
3
1
2
3
4

**What's wrong with the above code?**
1. We are printing eveyrthing down... we need to make sure that same row numbers should be together
2. we are missing fifth row, why? this is because or our range function range(1,i) mean it doesn't include i so our range function should be from (1, i+1)



let's fix the firt problem and learn one more thing about print() function.

* print() function has an argument called `"end"` and by default the value is new line, which means as soon as print is executed it goes to the next line
* that's why in the above code instead of 123 we get 1 2 and 3 in different lines
* to fix that problem we change the value of end in the print() function to empty string `""` like `end = ""`


The updated code would look like:
```python
for i in range(1, 6):
  for j in range(1, i):
    print(j, end="")
```

In [2]:
for i in range(1, 6):
  for j in range(1, i):
    print(j, end="")

1121231234

* Now we fixed the issue but we got another one, everything is getting printed in one line
so we need to make sure it goes to the next line for each row. so we will just add normal print line for each outer loop like:
```python
for i in range(1, 6):
  for j in range(1, i):
    print(j, end="")
  
  print()#this print will just move the cursor to new line
```

In [3]:
for i in range(1, 6):
  for j in range(1, i):
    print(j, end="")

  print()#this print will just move the cursor to new line

1
12
123
1234

**Perfect!**

Now let's fix the second issue, which is about the range function.

remember the range function doesn't inlcude the end value it stops at end-1

so if the range is from range(1,5) means from 1 to 4, so to fix that we need to add one to the end value.

```python
for i in range(1, 6):
  for j in range(1, i+1): #we add one to the range function end
    print(j, end="")
  
  print()
```

In [4]:
for i in range(1, 6):
  for j in range(1, i+1):
    print(j, end="")

  print()

1
12
123
1234
12345

### ***`Finally!!`***
### ***`Congratulations!`***

2. Using the above logic and study, print the following pattern

```python
*
**
***
****
*****
```

In [ ]:
#write your code here

3. Let's make the challenge a bit advanced. Now Create a function named "traingle" it takes an argument named n. n is the number of rows for the traingle to be printed.

For example:
```python
traingle(3)
```
gives
```python
*
**
***
```

```python
traingle(5)
```
gives
```python
*
**
***
****
*****
```

In [6]:
def triangle(n):
  #write your code here (please remove the pass before writing your code)
  pass

#### ***`Let's learn how to build the following pattern together`***
```python
   *
  ***
 *****
*******
```

What's differnt from the previous pattern?
1. There is only odd number of starts every row 1, 3, 5, 7...
2. There are leading spaces in every row but the last one

How can we implement this?
1. First we try to come up in printing the odd numbered stars like:

```python
*
***
*****
*******
```
2. we add space to the left. But remember the number of spaces decrease in every row. since we have 4 rows, the first row has 3 spaces, second row has 2 spaces, third row has 1 space and last one has no space.

`see any pattern?` For every row i we have n-i spaces, where n is the total number of rows

for example: in the above example we have 4 rows so n = 4

```python
first row i = 1, so 4-1 spaces = 3
second row i = 2, so 4-2 spaces = 2
third row i = 3, so 4-3 spaces = 1
fourht row i = 4, so 4-4 spaces = 0
```

In [9]:
#let's make the traingles first
for i in range(1, 5):
  for j in range(1, i*2): #remember we always have odd number of stars that why we have i*2 as stopping position
    print("*", end="")
  print()

*
***
*****
*******

In [11]:
#let's add the leading spaces before the stars
for i in range(1, 5):
  #here we need to add the spaces
  #how many spaces? 4-i in this case
  for k in range(4-i):
    print(" ", end="")
  for j in range(1, i*2):
    print("*", end="")
  print()

   *
  ***
 *****
*******

4. now is your time to make a function named "centeredTraingle" that takes argument named "n" and prints n row of centered traingle like above.

Example 1:
```python
centeredTraingle(3)
```
gives
```python
  *
 ***
*****
```

Example 2:
```python
centeredTraingle(5)
```
gives
```python
    *
   ***
  *****
 *******
*********
```

In [12]:
def centeredTraingle(n):
  #write your code here
  pass

5. Write a function named `tempConverter` that takes two arguments: `value` and `unit`

```python
def tempConverter(value, unit):
```

* value is the number for the temprature
* unit is the unit, whether it is Farhaniet(F) or Celcius(C).. the value is either F or C

* The function converts to Celcius if the given unit is in Farheniet and Vice versa. Then return the value

For example: if the function is called like this:
```python
tempConverter(50, "F") #this means the tempreature is 50F so we convert it to Celcius
Answer: 10C
```

Example 2:
```python
tempConverter(50, "C")
Answer: 122F
```

here is the formula

    C = (5/9) * (F - 32) and F = (C * 9/5) + 32

`Hint: use conditional to check if the given unit is C or F`

In [ ]:
def tempConverter(value, unit):
  #write your code here (please remove the pass before writing your code)
  pass

6. Make function named "gradeConverter" that takes grade as a number and returns the letter value.

Here is the criteria , if the grade is

    above 90, it's an A,
    between 85 and 90 is B
    between 80 and 85 is C
    between 70 and 80 is D
    anything below 70 is F
Example
```python
gradeConverter(95)
```
returns
```python
A
```

In [14]:
#write your code here

7. Ask user for their grade and use the above function to convert it to Letter Grade.

Example:

```python
grade = float(input("Please insert your grade here: "))
```
if user enters 87
it returns
`your grade is B`

In [15]:
#write your code here